/.ipynb_checkpoints
/Regression_Lab.pdf
/Regression_Гаврилов.pdf
/regress_2.png
/regress_3.png
/regress_4.png
/regress_5.png
/regress_6_1.png
/regress_6_2.png
/regress_7.png
/regress_8_1.png
/regress_8_2.png
/Untitled.ipynb
/Untitled1.ipynb